
.image-left {
  display: flex;     
  flex-direction: row;  
  gap: 20px;         
  width: 100%;       
}

.image-right {
  margin: auto;
  padding: 20px;
  display: flex;    
  justify-content: flex-start;                
  flex-direction:row-reverse;
  gap: 20px;  
}

.image-top {
  flex-direction: column;   
  gap: 20px;                
}

.image-bottom {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;               
  flex-direction:column-reverse;
  gap: 20px;   
}

.image-left > div, .image-right > div {
  flex: 1 1 50%; 
}

.image-top > div, .image-bottom > div {
  width: 100%; 
}

.image-left img, .image-right img {
  width: 100%;  
  height: auto;  
}
.tabs-container-wrapper .block {
  padding: 20px 64px 0px;
  border-bottom: 1px solid var(--Grey-100, #ECECEC);
  background: var(--White-0, #FFF);
}

.tabs-container-main {
  cursor: pointer;
  padding-bottom: 14px;
  color: var(--Grey-900, #141414);
  font-family: "Geogrotesque Sharp VF";
  font-size: 16px;
  font-style: normal;
  font-weight: 530;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
