.button-wrapper {
    margin-top: 20px;
    padding: 10px;
}

.button-wrapper a {
    display: inline-block;
}

.button-label {
    color: var(--Neutrals-500, #707070);
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
    margin-bottom: 15px;
}

.custom-button {
    background-color: #0068FA;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}

.custom-button:hover {
    background-color: #0056b3;
}

.button-link {
    text-decoration: none;
}

.custom-button:hover .arrow {
    transform: translateX(5px);
}

.custom-button span {
    padding-left: 15px;
}

